*{
    margin: 0;
    scroll-behavior: smooth;
}

#home{
    background-color: #eaf1f1;
    background-image: linear-gradient(135deg, #eaf1f1 0%, #6868e6 61%);
    height: 100vh;
    max-width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: #d3e1f6; 
    font-family: "DM Serif Text", serif;
    background-attachment: fixed;
}

#home>h1{
    font-size: 50px;
}

#home>p{
    font-size: 20px;
    margin-bottom: 100px;
}

nav {
    position: fixed;
    flex-direction: row;
    width: 100vw;
}

ul {
    margin-left: 60vw;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 25vw;
    list-style: none;
    transform: scale(150%);
}

ul>li>a {
    color: #d3e1f6;
    transition: border 0.2s ease;
}
ul>li>a:hover {
    border: 2px solid #d3e1f6;
    border-radius: 3px;
}

.transformation {
    transition: border 0.3s ease, background-color 0.3s ease;
    padding: 2px 6px;
}

.transformation:hover {
    border: 1px solid #d3e1f6;
    border-radius: 4px;
    background-color: #d3e1f6;
    color: #6868e6;
}